PORT=
MONGODB_URI=mongodb+srv://
CORS_ORIGIN= 


// Import the functions you need from the SDKs you need
import { initializeApp } from "firebase/app";
// TODO: Add SDKs for Firebase products that you want to use
// https://firebase.google.com/docs/web/setup#available-libraries

// Your web app's Firebase configuration
const firebaseConfig = {
  apiKey: "AIzaSyApWtD4lLixt9K0zoIg2AHmOlzi03h9Oao",
  authDomain: "otpt-33715.firebaseapp.com",
  projectId: "otpt-33715",
  storageBucket: "otpt-33715.firebasestorage.app",
  messagingSenderId: "563292148266",
  appId: "1:563292148266:web:dcb25f2b056d9e9e72a953"
};

// Initialize Firebase
const app = initializeApp(firebaseConfig);